mixin picture(producto)
	article Producto numero #{i+1} :
		br
		img(src=producto.image, width="300").img-rounded
		p #{producto.getPrice()} €
		br
		p Quedan #{producto.getUnidades()} unidades de talla #{producto.getTalla()}
		button(text="comprar") comprar producto
